* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.center{

    h1 {
        font-size: 40px;
        padding-top: 40px;
        padding-bottom: 25px;
    }

    input {
        width: 200px;
        height: 30px;
        border: 1.5px solid rgb(70, 70, 183);
        border-radius: 5px;
    }
    button {
        background-color: rgb(37, 37, 240);
        color: rgb(255, 255, 255);
        border: none;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
    }
} 

.obshiy {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

hr {
    margin-top: 30px;
}

.niz {
    border-radius: 10px;
    background-color: whitesmoke;
    border: 2px solid blue;
    width: 300px;
    height: 100px;

    button {
        border: none;
    }
    .close {
        margin-right: 10px;
        text-align: right;
        img {
            width: 20px;
            height: 20px;
        }

    }
    .text {
        padding-left: 10px;
    }
    .time {
        padding-top: 10px;
        padding-left: 10px;
        color: gray;
    }
}
